## Pandas

In [1]:
import numpy as np
import pandas as pd

### loc 인덱서 : 데이터 접근(행과 열의 기본 처리)
- label 값 (인덱스 이름)으로 원하는 데이터 가져오기
    - 행 하나에 접근 :  `df.loc[행 인덱스 이름]`
    - 셀 하나에 접근 : `df.loc[행 인덱스 이름, 열 인덱스 이름]` or `df.loc[행 인덱스 이름][열 인덱스 이름]`
    - 행 추가 : `df.loc[행 인덱스 이름] = 데이터`
    - 기존 행 복사 : `df.loc['행 인덱스 이름'] = df.loc['기존 행 인덱스 이름']`

In [2]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["a", "b", "c"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [3]:
df.loc["a"]

A    10
B    11
C    12
D    13
Name: a, dtype: int64

In [4]:
df.loc["a":"b"]

    A   B   C   D
a  10  11  12  13
b  14  15  16  17

In [5]:
df.loc[["a"]] # 행 전체가 표시되므로 [] 가 필요함

    A   B   C   D
a  10  11  12  13

In [6]:
df.loc[["b", "c"]]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [7]:
df.loc[df.A > 15]

    A   B   C   D
c  18  19  20  21

In [8]:
df.loc["a", "A"]

np.int64(10)

In [9]:
df.loc["b", "A"]

np.int64(14)

In [10]:
df.loc["a", :]

A    10
B    11
C    12
D    13
Name: a, dtype: int64

In [11]:
df.loc[["a", "b"], ["B", "D"]]

    B   D
a  11  13
b  15  17

In [12]:
df["E"]= [23, 34, 56]
df

    A   B   C   D   E
a  10  11  12  13  23
b  14  15  16  17  34
c  18  19  20  21  56

In [13]:
df.loc[df['C'] >= 15]

    A   B   C   D   E
b  14  15  16  17  34
c  18  19  20  21  56

In [14]:
df.loc[['b', 'c'], ['C']] = 55
df

    A   B   C   D   E
a  10  11  12  13  23
b  14  15  55  17  34
c  18  19  55  21  56

In [15]:
df.loc['추가'] = df.loc['b']
df

     A   B   C   D   E
a   10  11  12  13  23
b   14  15  55  17  34
c   18  19  55  21  56
추가  14  15  55  17  34

In [17]:
df.loc['추가2'] = [11, 22, 33, 44, 55] # 행 추가
df

      A   B   C   D   E
a    10  11  12  13  23
b    14  15  55  17  34
c    18  19  55  21  56
추가   14  15  55  17  34
추가2  11  22  33  44  55