## Pandas
### iloc 인덱서 : 데이터 접근(행과 열의 기본처리)
- loc인덱서와 사용법은 동일하나, **레이블이 아닌 순서를 나타내는 정수(integer) 위치 인덱스** 사용
- 행 하나의 접근 : `df.iloc[행인덱스]`
- 셀 하나에 접근 : `df.iloc[행인덱스, 열인덱스]` or `df.iloc[행인덱스][열인덱스]`

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["a", "b", "c"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [3]:
df.iloc[-1] = df.iloc[-1] * 2
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  36  38  40  42

In [4]:
df.iloc[0]

A    10
B    11
C    12
D    13
Name: a, dtype: int64

In [5]:
df.iloc[0, 0]

np.int64(10)

In [6]:
df.iloc[0][0]

/var/folders/g6/3qldr4jd21lbltbbdswtbqkm0000gn/T/ipykernel_56468/2900375399.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.iloc[0][0]

np.int64(10)

In [7]:
df.iloc[1:, 0]

b    14
c    36
Name: A, dtype: int64

In [8]:
df.iloc[:,[0]]

    A
a  10
b  14
c  36

In [9]:
df.iloc[:,0]

a    10
b    14
c    36
Name: A, dtype: int64

In [10]:
df.iloc[:,[0,2]]

    A   C
a  10  12
b  14  16
c  36  40